{% extends "proj/proj_base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About</h1>

<p>
    This project is a small text-based adventure game built with Symfony. 
    You explore different rooms, collect items and interact with objects to progress. 
    The goal is to open the treasure. 
    The game is inspired by retro text-based adventure games and it has a medieval theme. 
</p>

{% endblock %}