{% extends "proj/proj_base.html.twig" %}

{% block title %}Adventure Game{% endblock %}

{% block body %}
<h1>Adventure game</h1>

<p>spela spel.</p>

{# <form method="post" action="{{ path('game_post') }}">
    <input type="submit" name="start" value="Starta spelet" class="button">
</form> #}
{% endblock %}