{% extends "proj/proj_base.html.twig" %}

{% block title %}Adventure Game{% endblock %}

{% block body %}
<h1>Adventure game</h1>

<p>spela spel.</p>

{# <blockquote class="pix-embed-wrap"><div class="pix-embed-activity" data-id="sr22018d9dd41aws3" data-width="150" data-height="150" data-type="art" data-theme="light" data-show-edit="1">Pixilart Embed</div></blockquote><script async="async" src="https://www.pixilart.com/js/embed.js?v=1.0.4"></script> #}

<form method="post" action="{{ path('adventure_post') }}">
    <input type="submit" name="start" value="Start Adventure" class="adventure-button">
</form>
{% endblock %}