{% extends "proj/proj_base.html.twig" %}

{% block title %}Adventure Game{% endblock %}

{% block body %}
<h1>Adventure game</h1>

<p>Find the treasure. Begin your quest below.</p>

<form method="post" action="{{ path('adventure_post') }}" class="adventure-start-button">
    <input type="submit" name="start" value="Start Adventure" class="adventure-button">
</form>

<img src="{{ asset('img/pixelcastle.png') }}" alt="" class="adventure-img">
{% endblock %}