{% extends "proj/proj_base.html.twig" %}

{% block title %}Cheat sheet{% endblock %}

{% block body %}
<h1>Cheat sheet</h1>

<ol>
    <li>Go east</li>
    <li>Pick up amulet</li>
    <li>Go north</li>
    <li>Go west</li>
    <li>Go north</li>
    <li>Interact with armor</li>
    <li>Pick up key</li>
    <li>Go south</li>
    <li>Go east</li>
    <li>Interact with treasure</li>
</ol>

{% endblock %}