<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Adventure Game{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon_sword.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('proj') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('proj') }}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <span class="site-title">Adventure</span>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
