.flash-adventure {
    padding: 8px 15px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    color: var(--yellow);
    background-color: var(--dark);
    border: 2px solid var(--yellow);
}