.proj-header {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--grey);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.proj-title {
    font-size: 3em;
    font-family: 'Jacquard 12';
    line-height: 100px;
    color: var(--red);
}

.proj-nav {
    width: 100%;
    background-color: var(--grey);
    padding: 8px 0;
}

.proj-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.proj-nav ul li a {
    text-decoration: none;
    color: var(--red);
    font-size: 1.5em;
    letter-spacing: 1px;
}

.proj-nav ul li a:hover {
    border-bottom: 3px solid var(--red);
}