.proj-header {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: var(--red);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.proj-title {
    font-size: 3em;
    /* font-family: 'Chicle'; */
    margin: 20px;
    position: relative;
    top: 20px;
    color: var(--yellow);
    /* background-color: var(--light); */
}

/* .site-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    margin: 15px;
    padding: 5px;
    background-color: var(--warm);
    border-radius: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.site-nav ul li a {
    text-decoration: none;
    padding: 0 0.5em;
    font-size: clamp(1em, 2.5vw, 1.4em);
    color: var(--darkblue);
} */