html {
    line-height: 1.15;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: 'Jersey 10', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jersey 10', serif;
    font-weight: normal;
}

input[type="submit"] {
    font-family: 'Jersey 10', serif;
}

:root {
    --light: #eee4d3;
    --dark: #1e1e1e;
    --blue: #2c3e50;
    --red: #8d2f1d;
    --yellow: #c98540;
    --grey: #c4bfaf;
}