body {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--dark);
    color: var(--light);
}

.proj-main {
    margin-top: 10px;
    padding: 30px 50px;
    background-color: var(--blue);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
}

.adventure-text-container {
    padding: 20px;
}

.proj-footer {
    text-align: center;
    color: var(--grey);
}

.adventure-img {
    display: block;
    width: 470px;
    margin: 0 auto;
}

.proj-main a {
    color: var(--light);
}