.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
}

.two-column > .left-column {
    width: calc(100% / 16 * 12); /* 12/16 width */
}

.two-column > .right-column {
    width: calc(100% / 16 * 4); /* 4/16 width */
}