.site-footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--darkblue);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.site-footer p a {
    color: var(--light);
}