body {
    margin: 0 auto;
    max-width: 900px;
    background-color: var(--lightblue);
}

main {
    padding: 10px 50px;
    background-color: var(--light);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

img {
    max-width: 100%;
}

.home-img {
    width: 350px;
    margin: 10px;
}