@import "./proj/init.css";
@import "./proj/header.css";
@import "./proj/main.css";
@import "./proj/button.css";
@import "./proj/flash.css";

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&display=swap');