{% extends "base.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block body %}
<h1>Dokumentation kortspel 21</h1>

<h2>Flödesschema</h2>
<a href="{{ asset('img/21_flowchart.png') }}">
    <img src="{{ asset('img/21_flowchart.png') }}" alt="">
</a>

<h2>Pseudokod</h2>

<h3>Player draw metod i klassen GameLogic</h3>
<pre>
    card = draw one from DeckOfCards
    add drawn card to hand 
    update player points
    if player points > 21:
        player points = 0
    return player points
</pre>

<h3>Räkna ut player points metod i klassen CardHand</h3>
<pre>
    getPoints():
    points = 0

    for each card:
        if value is 'A':
            addValue = 1
            if points less than or equal to 7:
                addValue = 14
        elif value is 'J':
            addValue = 11
        elif value is 'Q':
            addValue = 12
        elif value is 'K':
            addValue = 13

        points += int(addValue)

    return points
</pre>

<h3>Bank draws metod i klassen GameLogic</h3>
<pre>
    while bank points less than 17
        draw card to bank 
        update bank points
    if bank points > 21:
        winner = player
    elif bank points >= player points:
        winner = bank
    else
        winner = player
</pre>

<h3>Routes i controller</h3>
<pre>
    game get
        render game template

    game post
        initierar värden
        redirect till play 

    play get 
        hämtar session data
        render play template

    draw post 
        hämta session värde 
        använder draw metod från klass 
        uppdaterar poäng
        set session data
        redirect till play 

    stop post 
        byter till banken
        flash om vem som vann
        redirect till play
</pre>

<h2>Klasser</h2>
<ul>
    <li><strong>Card:</strong> Representerar ett spelkort med värde och färg.</li>
    <li><strong>CardGraphic:</strong> Subklass till Card som visuellt representerar ett spelkort.</li>
    <li><strong>CardHand:</strong> Representerar en hand med kort.</li>
    <li><strong>DeckOfCards:</strong> Representerar hela kortleken med 52 kort.</li>
    <li><strong>Player:</strong> Representerar en spelare eller bank.</li>
    <li><strong>GameLogic:</strong> Hanterar spellogiken och ställningen.</li>
</ul>
{% endblock %}