{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>Api landningssida</h1>
    <p>JSON routes som finns på denna sida:</p>
    <ul>
        <li>
            /api/quote
        </li>
    </ul>
{% endblock %}