{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <article>
        <section id="kmom01">
        <h2>Kmom01</h2>
        <p>
            Tidigare har jag jobbat med objektorientering i dbwebb kursen oopython, och även en kurs i objektorienterad Java. 
            PHPs modell för klasser och objekt bygger på objektorienterad programmering. 
            Den objektorienterade modellen skapar en tydlig struktur och gör det lätt att få till DRY kod. 
            Man skapar klasser som är som en mall för objekt. 
            Ett objekt är en instans av en klass, och den kan ha medlemsvariabler (properties) och metoder. 
            Metoder visar allt som objektet kan göra, till exempel ändra läge för objektet eller utföra en uppgift.
        </p>
        <p>
            Jag uppfattar kodbasen till uppgiften som ganska stor med väldigt många filer, men väl strukturerade. 
            Det finns en tydlig uppdelning mellan routes, templates, bilder och styling till exempel. 
            Koden i sig känner man igen då vi jobbat med php, html och twig innan i tidigare kurser.
        </p>
        <p>
            I artikeln "PHP the right way" tycker jag att delen om säkerhet känns intressant och viktig. 
            Där skrivs det bland annat om "password hashing", vilket betyder att transformera lösenord till strängar med en hash funktion, som sedan inte går att transformera tillbaks till orginalet. 
            Detta skiljer sig från "encrypting" där man kan transformera tillbaks strängen med hjälp av en nyckel, och därför är just hashing det man ska använda för lösenord. 
            Det skrivs även om "data filtering" som innebär att man ska sanera och validera all input som kommer in utifrån, då man aldrig ska lita på sådan. 
            I en annan del av artikeln skrivs det om testing, bland annat unit testing, vilket är bra att kunna. 
            Det jobbade vi med i kursen oopython, och jag märkte då hur använbart det var, att enkelt kunna se om delar av koden fungerar som den ska.
        </p>
        <p>
            Mitt TIL för detta kmom är att göra en egen readme fil.
        </p>
        </section>

        <section id="kmom02">
            <h2>Kmom02</h2>
            <p>
                text
            </p>
            </section>
    </article>
{% endblock %}