{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <article>
        <section id="kmom01">
        <h2>Kmom01</h2>
        <p>
            text
        </p>
        </section>

        <section id="kmom02">
            <h2>Kmom02</h2>
            <p>
                text
            </p>
            </section>
    </article>
{% endblock %}