{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
<h1>Session data</h1>

{{ dump(sessionData) }}

{{ include('flash.html.twig') }}

<a href="{{ path('session_delete') }}">Rensa sessionen</a>

{% endblock %}