{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
<h1>Session data</h1>

{% if sessionData|length > 0 %}
    {% for key, value in sessionData %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}
{% else %}
    <p>Sessionen är tom</p>
{% endif %}

{{ include('flash.html.twig') }}

<a href="{{ path('session_delete') }}">Rensa sessionen</a>

{% endblock %}