{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<div class="welcome-library">
    <h1>Welcome to this library</h1>

    <div class="button-container">
        <a href="{{ path('library_create') }}" class="button">Add new book</a>

        <a href="{{ path('library_view_all') }}" class="button">View books</a>
    </div>

    <img src="{{ asset('img/library.jpg') }}" alt="">
</div>
{% endblock %}
